@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #16211D;
}

.font-display {
  font-family: 'Sora', sans-serif;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}
